/* reset 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

reset */

/*** carouselOne ***/

#carousel {
  max-width: 1200px;
  height: 40vw;
  max-height: 480px;
  margin: 1.5rem auto 1.5rem;
  position: relative;
  padding: 1rem;
}
#navCarousel {
  position: relative;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
}
#navCarousels {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
#navCarousel .my-btn-carousel > i {
  font-size: 30px;
  color: rgba(255, 255, 255, 0.2);
}
#navCarousel .my-btn-carousel > i:hover {
  transform: scale(1.2);
  color: rgba(255, 255, 255, 0.8);
}
#navCarousel .my-btn-carousel > i:active {
  color: rgb(115, 129, 255, 0.5);
}
#navCarousels .my-btn-carousel > i {
  font-size: 100px;
  color: rgba(0, 17, 255);
}
#navCarousels .my-btn-carousel > i:hover {
  transform: scale(1.2);
  color: rgba(0, 0, 0);
}
#navCarousels .my-btn-carousel > i:active {
  color: rgba(255, 0, 0);
}

/* carouselContainer */

.carouselContainer {
  width: 100%;
  height: 100%;
  background-color: brown;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.carouselContainer > .item {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* /carouselOne */

/* carouselTwo */

/* /carouselTwo */

/* Utilities carousel */
.item {
  display: none;
}
.active {
  display: inline-block;
}
